<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Summary</key>
	<string>ViewController</string>
	<key>Description</key>
	<string>PresenterViewController classes.</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>PresenterViewController</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>ViewController name:</string>
			<key>Description</key>
			<string>The name of the view controller to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<string>true</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewType</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>View Type:</string>
			<key>Description</key>
			<string></string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>UIView</string>
			<key>Values</key>
			<array>
				<string>UIView</string>
				<string>UICollectionView</string>
				<string>UITableView</string>
			</array>
		</dict>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>viewType</key>
				<string>UICollectionView</string>
			</dict>
			<key>Identifier</key>
			<string>layout</string>
			<key>Required</key>
			<string>true</string>
			<key>Name</key>
			<string>Layout Type:</string>
			<key>Description</key>
			<string>The layout type of UICollecitonView</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>UICollectionViewFlowLayout</string>
			<key>Values</key>
			<array>
				<string>UICollectionViewFlowLayout</string>
				<string>NECollectionViewFlowLayout</string>
				<string>CHTCollectionViewWaterfallLayout</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
